@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

body {
    background-color: #e5cc9e;
}

.about-page {
  color: white;
}


.about-body { 
  background: url("http://www.newyork-wallpapers.com/user-content/uploads/wall/o/92/New-York-Skyline-Night-1680x1050-Wallpaper.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 
